h1 {
  text-align: center;
}

.wrapper-calculette {
  width: 215px;
  margin: 0 auto;
  border: 1px solid #CCC;
  padding: 10px 20px;
}

.screen {
  padding: 10px;
  margin: 20px 0;
  border:1px solid #CCC;
  background-color: #ECECEC;
}

button {
  border-radius: 100%;
  width: 40px;
  height: 40px;
  margin: 5px;
}
